main {
	position: relative;
	margin: var(--padding) 0 var(--padding) 0;
	border: var(--border-width) solid var(--primary);
	width: 100%;
}

h1,
h2 {
	background: var(--primary);
	color: var(--background);
	width: 100%;
	margin: 0;
}

section {
	display: flex;
	flex-direction: column;
	padding: 0 var(--padding) var(--padding) var(--padding);
}

section > a {
	margin-left: auto;
}

@media only screen
	and (max-width: 760px), (min-device-width: 768px)
	and (max-device-width: 1024px) {
		section > a, section > a > button {
			width: 100%;
		}
}

h3 {
	text-align: left;
	color: var(--yellow);
	margin: 0;
}

label {
	color: var(--primary);
}

input {
	border-color: var(--primary);
}

input:not([type="submit"]) {
	color: var(--green);
}

footer {
	position: absolute;
	bottom: 0;
	left: var(--padding);
	right: var(--padding);

	color: var(--primary);
	text-transform: uppercase;
	font-weight: 500;
	overflow: hidden;
	text-overflow: ellipsis;
}
